@import "tailwindcss";

@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/Manrope-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/Manrope-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/Manrope-Medium.ttf");
  font-weight: 500;
}

@theme inline {
  --color-*: initial;

  --color-yellow: #f6b83d;
  --color-yellow-100: #f9b020;
  --color-white: #ffffff;
  --color-black: #262626;
  --color-cream: #fff4df;
  --color-red: #ef2447;
  --color-green: #08aa83;
  --color-blue: #54adff;
  --color-pink: #f43f5e;
  --color-dark-cream: #fbe7c1;
  --color-grey: #f9f9f9;

  --radius-*: initial;
  --radius-xs: 15px;
  --radius-s: 16px;
  --radius-ms: 30px;
  --radius-m: 60px;
  --radius-full: 100px;
  --radius-s1: 20px;

  --text-*: initial;

  --text-xs: 10px;
  --text-xs-font-weight: 500;
  --text-xs-line-height: 8px;

  --text-s: 12px;
  --text-s--font-weight: 500;
  --text-s--line-height: 10.2px;

  --text-ms: 14px;
  --text-ms--font-weight: 500;
  --text-ms--line-height: 18.06px;

  --text-m: 16px;
  --text-m--font-weight: 700;
  --text-m--line-height: 21px;

  --text-xl: 18px;
  --text-xl--line-height: 22px;

  --text-1xl: 20px;
  --text-1xl-font-weight: 700;
  --text-1xl-line-height: 26px;

  --text-2xl: 28px;
  --text-2xl--font-weight: 700;
  --text-2xl--line-height: 15.34px;

  --text-3xl: 24px;
  --text-3xl--font-weight: 700;
  --text-3xl--line-height: 24px;

  --text-4xl: 32px;
  --text-4xl--font-weight: 700;
  --text-4xl--line-height: 32px;

  --text-5xl: 50px;
  --text-5xl--font-weight: 700;
  --text-5xl--line-height: 48px;

  --text-6xl: 54px;
  --text-6xl--font-weight: 700;
  --text-6xl--line-height: 55px;

  --text-7xl: 80px;
  --text-7xl--font-weight: 700;
  --text-7xl--line-height: 77px;

  --text-8xl: 90px;
  --text-8xl--font-weight: 700;
  --text-8xl--line-height: 87px;

  --text-9xl: 120px;
  --text-9xl--font-weight: 800;
  --text-9xl--line-height: 144px;

  --text-10xl: 300px;
  --text-10xl--font-weight: 800;
  --text-10xl--line-height: 300px;

  --font-*: initial;
  --font-manrope: "Manrope", sans-serif;

  --shadow-base: #fbe7c1 0px 10px 15px -3px, #fbe7c1 0px 4px 6px -2px;

  --breakpoint-*: initial;
  --breakpoint-mobile: 360px;
  --breakpoint-tablet-l: 768px;
  --breakpoint-desktop-l: 1440px;
}

.container {
  padding-right: 20px;
  padding-left: 20px;

  margin: 0 auto;
  max-width: 767px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;

    max-width: 1215px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 64px;
    padding-left: 64px;
  }
}
